* {
    margin: 0;
    box-sizing: border-box;
}

.flex-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-container {
    flex-direction: row;
}

.generated-area {
    background-color: antiquewhite;
    height: 320px;
}

h1 {
    font-size: 90px;
    padding: 30px;
}

h2 {
    font-size: 30px;
    padding: 5px 0 20px 0;
    font-style: italic;
}

button {
    padding: 40px 100px;
    margin: 20px;
    font-size: 30px;
    background-color: lightskyblue;
    box-shadow: 10px 5px 5px;
    border-radius: 10px;
    text-align: center;
}

p {
    font-size: 25px;
    margin: 2.5% 0 2.5% 0;
    text-align: center;
}

.wand {
    width: 10%;
    height: 10%;
}